.footer {
  position: absolute;
}
.rainy {
  position: relative;
}
.linkk {
  color: #e4892d8f !important;
  margin-top: -16px !important;
  font-size: 15px !important;
  margin-bottom: 12px !important;
}
.linkk:hover {
  color: #e4892d8f !important;
}
.linke {
  color: #e4892d8f !important;
  font-size: 13px !important;
}
.icons {
  margin-top: -2px !important;
  margin-left: 24% !important;
  display: flex !important;
}
.icon {
  color: #e4892d8f !important;
  margin-top: -8px !important;
  font-size: 100% !important;
  margin-right: 30% !important;
  border: none !important;
}
.nav-link {
  padding-left: 0;
}
.icon:hover {
  color: #e4892d8f !important;
}
footer.py-0.my-1.justify-content-right.footer {
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .footer {
    display: flex !important;
    flex-direction: column !important;
  }
  .icons {
    padding-left: 35px !important;
    justify-content: center !important;
    padding-top: 20px !important;
  }
  .rainy {
    margin-left: 45%;
    width: 100%;
  }
  .rodape {
    width: 100%;
    margin-left: -2%;
  }
}
