.footer {
    position: absolute;

}
.rainy{
    position: relative;
}
.linkk {
    color: #d7b5f88f !important;
    margin-top: -16px !important;
    font-size: 15px !important;
    margin-bottom: 12px !important;
}
.linkk:hover {
    color: #d5b5f8 !important;
}
.linke {
    color: #d5b5f8 !important;
    font-size: 13px !important;
}
.icons {
    margin-top: -2px !important;
    margin-left: 24% !important;
    display: flex !important;
}
.icon {
    color: #d7b5f88a !important;
    margin-top: -8px !important;
    font-size: 100% !important;
    margin-right: 30% !important;
    border: none !important;
}
.nav-link{
    padding-left: 0;
}
.icon:hover {
    color: #d7b5f8 !important;
}
footer.py-0.my-1.justify-content-right.footer {
    width: 100%;
}
@media screen and (max-width: 1024px) {
    .footer {
        display: flex !important;
        flex-direction: column !important;
    }
    .icons{
        padding-left: 35px !important;
        justify-content: center !important;
        padding-top: 20px !important;
    }
    .rainy{
        margin-left: 45%;
        width: 100%;
    }
    .rodape{
        width: 100%;
        margin-left: -2%;
    }
}