.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #000000;
}

.btn-primary {
  background-color: rgb(13, 13, 13) !important;
  color: rgb(255, 255, 255) !important;
  /* position: fixed !important; */
  animation: none !important;
  max-width: none !important;
  border: none !important;
}

.inputLogin {
  margin-top: 15px;
  margin: 5px;
  padding: 10px;
  border: 1px solid;
  margin-top: 20px;
  display: flex !important;
  padding-left: 50px;
}

.inputLogin:focus {
  border-radius: 15px;
  margin: 5px;
  padding: 10px;
  margin-top: 15px;
  outline: none !important;
  box-shadow: 0 0 0 0 !important;
  color: #000000 !important;
}

.containerLogin {
  /* border: solid 1px !important; */
  border-radius: 10px;
  width: 960px !important;
  box-shadow: 0px 0px 0px 0.3px black !important;
}

.Natura {
  margin-top: 100px !important;
  height: 300px !important;
  max-width: 450 !important;
  /* margin: 0 auto; */
  align-items: center;
  padding-left: 40px !important;
  /* margin-top: 160px !important; */
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.flexCheck {
  padding-right: 20px;
}

.Logar {
  color: white !important;
  background-color: #000000 !important;
  height: 50px !important;
  border-radius: 10px;
  /* border: none; */
  /* width: 19px !important; */
}

.Lembrar {
  height: 50px !important;
  width: 20px !important;
  padding-left: 140px !important;
  margin-top: -10px;
}

.h4Login {
  font-size: 15px;
  margin-top: 5px;
  margin-right: 180px !important;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* Espaço entre os botões */
}

.titulo {
  text-align: center;
  font-weight: 900;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.Logar {
  width: 160px !important;
}

.Logar:hover {
  background-color: gray;
}

.borda {
  width: 185vh;
  height: 70vh;
  border: solid 1px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.color {
  color: black;
}
.nomeinput {
  background-color: transparent;
  color: black;
  margin: 0 !important;
  font-size: larger;
}

.nomeinput:hover {
  background-color: transparent;
  color: black;
}

input#validationCustom03 {
  box-shadow: 0 0 0 0;
  border: 1px solid black;
  outline: none;
}

input#validationCustom04 {
  border: 1px solid black;
  outline: none;
  box-shadow: 0 0 0 0;
}

.mb-3.row {
  display: flex;
  justify-content: center;
  margin-top: 30%;
  margin-left: 25px;
}

.botaoEnviar {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
@media screen and (max-width: 1080px) {
  .btn-primary {
    display: flex !important;
    flex-direction: column !important;
  }

  .borda {
    margin-left: 5px !important;
    max-width: 100%;
  }

  .form-select {
    margin-top: 0;
    margin-left: 80px;
    width: 225px;
  }
  label {
    margin-left: 0;
  }
  .botaoCategoria {
    margin-left: 5px;
  }
  .inputeSalario {
    margin-left: 80px;
    max-width: 224px;
  }

  .col-md-6 {
    margin-left: -10px !important;
  }
  input#validationCustom03 {
    margin-left: 3px;
  }
  input#validationCustom04 {
    margin-left: 8px;
  }
  .col-md-3 {
    margin-left: -20px;
  }
  .formLogin {
    margin-top: -15vh;
    /* margin-left: 9px; */
  }
}

@media screen and (max-width: 320px) {
  .form-select {
    margin-left: 20px;
  }
}
