/* body{
    overflow:inherit;
} */
.navbar2 {
    display: flex;
    background-color: black;
    width: 100%;
    height: 45px;
    justify-content: center;
    font-size: 16px;
}

.pai {
    display: flex;
}

.form.form {
    display: flex;
}

.wrapper-search {
    background-color: transparent;
    border: solid 1px;
    border-radius: 15px;
    width: 265px;
    height: 45px;
    margin-top: 20px;
    margin-left: 110vh;
}

svg#search {
    width: 20px;
    height: 20px;
}

#barraPesquisa {
    float: left;
    background-color: transparent;
    padding-top: 12px;
    padding-left: 6px;
    font-style: italic;
    font-size: 17px;
    border: none;
    height: 32px;
    width: 260px;
}

.linkNav:hover {
    text-decoration: underline;
}