.novoGasto {
  display: flex;
  width: 100%;
  height: 35px;
  background-color: rgb(0, 0, 0);
}

.iconPlus {
  margin-top: 10px;
  height: 15px;
  margin-left: 10px;
  width: 40px;
  color: white;
}

.tituloGasto {
  color: white;
  margin-top: 8px;
}

.financeiro {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.flex-column {
  margin-left: 30px;
  margin-top: 30px;
  border-radius: 15px;
  border: 1px solid;
  width: 50vh;
  height: auto;
}

.linkPlus {
  height: 15px;
  width: 35px;
}

a#left-tabs-example-tab-first {
  color: black;
  padding-left: 23px;
  border-radius: 0;
}

a#left-tabs-example-tab-second {
  color: black;
  padding-left: 23px;
  border-radius: 0;
}

a#left-tabs-example-tab-third {
  color: black;
  padding-left: 23px;
  border-radius: 0;
}

a#left-tabs-example-tab-quarter {
  color: black;
  padding-left: 23px;
  border-radius: 0px 0px 15px 15px;
}

.linkMoney {
  height: 15px;
  width: 35px;
}

.linkDollar {
  height: 15px;
  width: 35px;
}

.linkPig {
  height: 15px;
  width: 35px;
}

.menuTodo {
  margin: 8px 0px;
  display: flex;
}

.iconHome {
  height: 12px;
  width: 35px;
  margin-left: 7px;
  margin-top: 9px;
}

.menuP {
  margin-top: 4px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: var(--bs-nav-pills-link-active-color) !important;
  background-color: #000000;
}

.linhaEspaco {
  margin-top: 50px;
  height: 10px;
  border: 0;
  border-top: 10px solid;
}

.rowPullis {
  width: 100%;
}

.tab-content {
  border-radius: 15px;
  margin-left: 20px;
  margin-top: 30px;
  border: 1px solid;
  padding: 30px;
}

.dropDownFinancas {
  display: contents;
}

.tabelaFinanceiro {
  margin-left: 0;
  padding: 0;
}

.col-md-4.ControleMes {
  padding: 0;
}

.adicionaisEmpresa {
  width: 100%;
}

.adicionaisEmpresa.row {
  overflow-x: auto;
}

.botaoCategoria {
  height: 45px;
  width: 180px;
  margin-top: 5px;
  border-radius: 15px;
  outline: none !important;
  box-shadow: 0 0 0 0 !important;
  border: solid 1px !important;
  margin-left: 1vh;
  padding-left: 15px;
  position: relative;
}

label {
  display: inline-block;
  padding: 10px 20px;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  margin-left: 142vh;
}

/* Estilo quando o mouse passa por cima */
label:hover {
  background-color: #333;
}

.dropFiltrar {
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: 0 none;
}

option {
  color: black;
}
